@page
@model IndexModel
@{
    ViewData["Title"] = "Visitas";
}

<!-- contact -->
	<div class="text-center" id="Contacto">
		<div class="container">
			<h3 class="agile-title">Contacto</h3>
			
			<div class="text-center">
				<div class="address col-md-12">
					<h5>
						<i class="fa fa-map-marker" aria-hidden="true"></i>Ubicacion</h5>
					<p>Universidad de Caldas</p>
					<p>Manizales, Colombia</p>
				</div>
				<div class="phone col-md-12">
					<h5>
						<i class="fa fa-phone" aria-hidden="true"></i>Telefono</h5>
					<p>+1(401) 1234 567.</p>
					<p>+1(804) 4261 150.</p>
				</div>
				<div class="email col-md-12">
					<h5>
						<i class="fa fa-envelope-o" aria-hidden="true"></i>Correo</h5>
					<p>
						<a href="mailto:info@example.com">u_caldas@gmail.com</a>
						<a href="mailto:info@example.com">ciclo_3_.net@profesor.com</a>
					</p>
				</div>
			</div>
		</div>
	</div>
