@page
@model IndexModel
@{
    ViewData["Title"] = "Visitas";
}

<div id="Galeria" class="text-center">
		<div class="container">
			<h3 class="agile-title">Galeria</h3>
		</div>
		<div class="agileinfo-gallery-row">
			<div class="col-md-3 col-sm-3 col-xs-4 w3gallery-grids">
				<a href="images/m1.jpg" class="imghvr-hinge-right figure">
					<img src="images/m1.jpg" alt="" title="Cat Life Image" />
				</a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-4 w3gallery-grids">
				<a href="images/g2.jpg" class="imghvr-hinge-right figure">
					<img src="images/g2.jpg" alt="" title="Cat Life Image" />
				</a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-4 w3gallery-grids">
				<a href="images/g3.jpg" class="imghvr-hinge-right figure">
					<img src="images/g3.jpg" alt="" title="Cat Life Image" />
				</a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-4 w3gallery-grids">
				<a href="images/m4.jpg" class="imghvr-hinge-right figure">
					<img src="images/m4.jpg" alt="" title="Cat Life Image" />
				</a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-4 w3gallery-grids">
				<a href="images/m5.jpg" class="imghvr-hinge-right figure">
					<img src="images/m5.jpg" alt="" title="Cat Life Image" />
				</a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-4 w3gallery-grids">
				<a href="images/m6.jpg" class="imghvr-hinge-right figure">
					<img src="images/m6.jpg" alt="" title="Cat Life Image" />
				</a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-4 w3gallery-grids">
				<a href="images/m3.jpg" class="imghvr-hinge-right figure">
					<img src="images/m3.jpg" alt="" title="Cat Life Image" />
				</a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-4 w3gallery-grids">
				<a href="images/m2.jpg" class="imghvr-hinge-right figure">
					<img src="images/m2.jpg" alt="" title="Cat Life Image" />
				</a>
			</div>
			<div class="clearfix"> </div>
		</div>
		
	<script src="js/simple-lightbox.min.js"></script>
	<script>
		$(function () {
			var gallery = $('.agileinfo-gallery-row a').simpleLightbox({
				navText: ['&lsaquo;', '&rsaquo;']
			});
		});
	</script>
	</div>
	<!-- //Gallery -->