@page
@model IndexModel
@{
    ViewData["Title"] = "Visitas";
}

<div class="Visitas" id="Visitas">
		<div class="container">
			<h3 class="agile-title">Visitas</h3>
			<div class="w3_agile_services_grids">
				<div class="col-md-4 col-sm-4 col-xs-4 w3_agile_services_grid " data-aos="zoom-in">
					<div class="ih-item circle effect1 agile_services_grid">
						<div class="spinner"></div>
						<div class="img">
							<img src="images/c1.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
					<fieldset>
						<legend>Prioridad a la atenci칩n</legend>
					</fieldset>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 w3_agile_services_grid" data-aos="zoom-in">
					<div class="ih-item circle effect1 agile_services_grid">
						<div class="spinner"></div>
						<div class="img">
							<img src="images/c2.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
					<fieldset>
						<legend>Control especializado</legend>
					</fieldset>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 w3_agile_services_grid" data-aos="zoom-in">
					<div class="ih-item circle effect1 agile_services_grid">
						<div class="spinner"></div>
						<div class="img">
							<img src="images/c3.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
					<fieldset>
						<legend>Acompa침amiento de principio a fin</legend>
					</fieldset>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="container">
			<h3 class="agile-title">Propietarios</h3>
			<div class="col-md-12 col-sm-9 contact-right">
				<form action="#" method="post">
					<input type="text" name="Nombre" placeholder="Nombre" required="">
					<input type="text" name="Apellidos" placeholder="Apellidos" required="">
					<input type="text" name="Identificacion" placeholder="identificaci칩n" required="">
					<input type="text" name="Telefono" placeholder="Telefono" required="">
					<input type="text" name="Direccion" placeholder="Direcci칩n" required="">
					<input type="submit" value="Enviar">
				</form>
			</div>
		</div>
		<div class="container">
			<h3 class="agile-title">Agenda</h3>
			<div class="col-md-5 col-xs-6 blog-grids">
				<div class="blog-full-wthree">
					<div class="blog-left-agileits">
						<p>Jan</p>
						<span>18</span>
					</div>
					<div class="blog-right-agileits-w3layouts">
						<h4>
							<p style="color: black;">Consulta externa</p>
						</h4>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="blog-full-wthree">
					<div class="blog-left-agileits">
						<p>Feb</p>
						<span>22</span>
					</div>
					<div class="blog-right-agileits-w3layouts">
						<h4>
							<p style="color: black;">Toma de signos vitales</p>
						</h4>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="blog-full-wthree">
					<div class="blog-left-agileits">
						<p>Feb</p>
						<span>15</span>
					</div>
					<div class="blog-right-agileits-w3layouts">
						<h4>
							<p style="color: black;">Cirugias</p>
						</h4>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-5 col-xs-6 blog-grids">
				<div class="blog-full-wthree">
					<div class="blog-left-agileits">
						<p>Jan</p>
						<span>26</span>
					</div>
					<div class="blog-right-agileits-w3layouts">
						<h4>
							<p style="color: black;">Inyecciones</p>
						</h4>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="blog-full-wthree">
					<div class="blog-left-agileits">
						<p>Feb</p>
						<span>06</span>
					</div>
					<div class="blog-right-agileits-w3layouts">
						<h4>
							<p style="color: black;">Control</p>
						</h4>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="blog-full-wthree">
					<div class="blog-left-agileits">
						<p>Feb</p>
						<span>12</span>
					</div>
					<div class="blog-right-agileits-w3layouts">
						<h4>
							<p style="color: black;">Laboratorios</p>
						</h4>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		@* <div class="w3l-img-side">
			<img src="images/cat11.png" alt="" />
		</div>
		<div class="w3l-img-side w3l-img-side2">
			<img src="images/cat1.png" alt="" />
		</div> *@
	</div>
